---

name: build

'on':
  push:
    branches-ignore:
      # branch name globs actually MUST be put in single (not: double) quotes
      - 'dependabot/npm**'
  workflow_call:
    inputs:
      ref:
        required: false
        type: string

jobs:

  xmllint:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v6.0.2
      with:
        ref: ${{ inputs.ref || github.ref }}

    - name: install xmllint
      run: sudo apt update && sudo apt-get install --no-install-recommends -y libxml2-utils

    - uses: korelstar/xmllint-problem-matcher@v1.2.0

    - name: validate HTML templates
      run: find src/main/resources/{templates,pages} -type f -iname "*.html" -exec xmllint --noout {} \;


  build:
    runs-on: ubuntu-latest
    needs: xmllint

    strategy:
      fail-fast: false
      matrix:
        java-version: [17, 21, 23, 24, 25]

    steps:

    - name: checkout code @ ${{ inputs.ref || github.ref }}
      uses: actions/checkout@v6.0.2
      with:
        ref: ${{ inputs.ref || github.ref }}

    - name: set up jdk
      uses: actions/setup-java@v5.1.0
      with:
        distribution: temurin
        java-version: ${{ matrix.java-version }}

    - name: run tests && build project
      run: ./gradlew build --no-daemon --warning-mode all

    - uses: mikepenz/action-junit-report@v6.1.0
      if: always()
      with:
        report_paths: 'build/test-results/test/TEST-*.xml'

...
